/* app/assets/css/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-family: "Inter", sans-serif;
    --second-family: "Epilogue", sans-serif;
    --third-family: "Fauna One", sans-serif;
    --font3: "Corben", sans-serif;
    --font4: "Turret Road", sans-serif;
    --font5: "Road Rage", sans-serif;
  }
  body {
    background: linear-gradient(80deg, #36302c 0%, #807b78 100%);
    /* mix-blend-mode: color; */
    background-blend-mode: color;
    /* @apply text-white;  */
    padding: 0px, 72px;
    position: relative;
    z-index: -1;
    
  }
  
  .container{
    margin: 0 auto;
    max-width: 1339.75px;
    width: 100%
  }
}