/* app/assets/css/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Подключение Inter */
@font-face {
  font-family: 'Inter';
  src: url('~/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('~/assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('~/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Подключение Epilogue */
@font-face {
  font-family: 'Epilogue';
  src: url('~/assets/fonts/Epilogue-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    background: linear-gradient(80deg, #36302c 0%, #807b78 100%);
    /* mix-blend-mode: color; */
    background-blend-mode: color;
    /* @apply text-white;  */
    padding: 0px, 72px;
    position: relative;
    z-index: -1;
    
  }
  
  .container{
    margin: 0 auto;
    max-width: 1339.75px;
    width: 100%
  }
}