/* app/assets/css/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    background: linear-gradient(80deg, #36302c 0%, #807b78 100%);
    /* mix-blend-mode: color; */
    background-blend-mode: color;
    /* @apply text-white;  */
    padding: 0px, 72px;
    position: relative;
    z-index: -1;
    
  }
  
  .container{
    margin: 0 auto;
    max-width: 1339.75px;
    width: 100%
  }
}